<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48786830268-u0pva0klus2aoe3g91p65ckcvkqmgb9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48786830268-u0pva0klus2aoe3g91p65ckcvkqmgb9g</string>
	<key>API_KEY</key>
	<string>AIzaSyB1UxLG0ic_bNP2GOiFpnJpi5IClfmom9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>48786830268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carlosenrique7.CloudHop</string>
	<key>PROJECT_ID</key>
	<string>cptravelapp</string>
	<key>STORAGE_BUCKET</key>
	<string>cptravelapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48786830268:ios:1097a2d03f77e27a95b1b9</string>
</dict>
</plist>